/* You can add global styles to this file, and also import other style files */

/* Application-wide Styles */
nav {
  background-color: #f4f4f4;
  padding: 1rem;
  display: flex;
  gap: 1rem;
  justify-content: center;
}

nav a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
}

router-outlet + * {
  margin-top: 2rem;
}

.boton-login {
  pointer-events: auto;
  position: relative;
  z-index: 10;
  background-color: #007bff;
  color: white;
  padding: 0.5rem 1rem;
  border-radius: 6px;
  text-decoration: none;
}
.boton-login:hover {
  background-color: #0056b3;
}

h1 {
  color: #369;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 250%;
}
h2, h3 {
  color: #444;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: lighter;
}
body {
  margin: 2em;
}
body, input[type="text"], button {
  color: #333;
  font-family: Cambria, Georgia;
}
/* everywhere else */
* {
  font-family: Arial, Helvetica, sans-serif;
}